<template>
  <div id="app">
    <div class="fixed-table">
      <div class="flex-table flex-table-top">
        <div v-if="findTimelineById(timelines, -1) !== undefined" style="width: 100%; max-width: 300px; display:flex; flex-wrap: wrap; justify-content: flex-start; padding: 1rem">
          <div style="width: 100%">Timelines</div>
          <span v-for="(hit, index) in findTimelineById(timelines, -1).timelines" :key="index" style="color:gold;"><small style="color: magenta">x</small>{{ hit }}</span>
        </div>
        <div style="margin-bottom: 1rem">
          <label for="multi-check" style="cursor:pointer">Multi top timeline?</label>
          <input id="multi-check" type="checkbox" :checked="multi" @click="toggleMultiple"/>
          <br>
          <small v-if="multi" style="color: purple">
            Timeline will be counted from top 1, top 2 and top 3.
          </small>
          <small v-else style="color: purple">
            Timeline will be counted from top 1 only.
          </small>
        </div>
        <div style="margin:auto; width: 100%; padding: 2px 1rem;" v-for="(top, index) in getTops(listOf)" :key="index">Top {{ index + 1 }}
          <span :style="{ color: getColor(top) }">
            {{ top }} <small>x{{ listOf[top] }}</small>
          </span>
        </div>
        <div style="text-align:center; margin: 1rem; width: 100%">
          Total: {{ numbers.reduce(function (accumVariable, curValue) {return accumVariable + curValue}, 0) }}
          <br>
          <input id="myInput" type="number" class="input" placeholder="Number" v-on:keyup.enter="onEnter">
        </div>
        <span class="numbers" v-for="number in lastTen" :style="{ color: getColor(number) }">
          {{ number }}
        </span>
        <div style="width: 100%"></div>
      </div>
      <div class="flex-table">
        <span class="number" v-for="number in lastNumbers" :style="{ color: getColor(number) }">
          {{ number }}
        </span>
      </div>
    </div>
    <div style="overflow-y: auto; max-height: 100vh; min-height: 100vh; margin: auto;text-align: center">
      <GameComponent
          v-for="(g, gameIndex) in numbers"
          :key="g + '_' + gameIndex"
          :gameIndex="gameIndex"
      />
    </div>
  </div>
</template>

<script>
import GameComponent from './GameComponent.vue';
import {mapState, mapMutations, mapActions} from "vuex";

export default {
  components: {
    GameComponent
  },
  data() {
    return {
      timelineTops: [],
      topHit: -1
    }
  },
  mounted() {
    setInterval(() => document.getElementById("myInput").focus(), 800)
    let list = {}
    for (let i = 0; i <= 36; i++)
      list[i] = 0
    // add list
    this.$store.commit('list', list)
    // create default game top timeline
    this.addTimeline(-1);
  },
  watch: {
    listOf (neverUsed, value) {
      if (this.numbers.length < 10 && neverUsed !== undefined) return
      // previous
      let current = this.getTops(value)
      // set tops for timeline
      this.addTops({ game_id: -1, tops: current }).then(() => {
        // play game
        if (this.numbers.length > 10)
          this.playTimelines({ game_id: -1, number: this.$store.state.last })
      })
    }
  },
  computed: {
    ...mapState('timeline', {
      multi: 'multi',
      timelines: 'timelines'
    }),
    listOf () {
      return this.$store.state.list
    },
    lastNumbers() {
      const clone = [...this.numbers]
      clone.reverse()
      return clone.slice(10, 214);
    },
    lastTen () {
      const clone = [...this.numbers]
      clone.reverse()
      return clone.slice(0, 10)
    },
    numbers () { return this.$store.state.numbers },
    planets () {
      const list = []
      if (this.lastTen.length < 10) return list
      this.lastTen.forEach((number, key) => {
        if (key < 1) return
        const receivedNumbers = this.lastTen.slice(0, key + 1)
        const totalSum = receivedNumbers.reduce(function (accumVariable, curValue) {
          return accumVariable + curValue
        }, 0);
        list.push(this.until(totalSum))
      })
      return list
    }
  },
  methods: {
    ...mapMutations('timeline', ['addTimeline', 'toggleMultiple', 'playTimelines']),
    ...mapActions('timeline', ['addTops']),
    getTops (list) {
      return Object.keys(list).sort(function(a,b){return list[b]-list[a]}).slice(0, 3)
    },
    onEnter (e) {
      const value = parseInt(e.target.value)
      if (e.target.value !== '' && value <= 36 && value >= 0) {
        let list = {}
        for (let i = 0; i <= 36; i++)
          list[i] = 0
        this.$store.commit('list', list)
        this.$store.commit('play', value)
      }
      e.target.value = ''
    }
  }
}
</script>

<style>
body {
  position: relative;
  font-weight: 400;
  color: #f5f5f5;
  font-size: 14rem;
  text-rendering: optimizeLegibility;
  background-color: #262a3c;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
#app {
  font-size: 18px;
  font-family: Open Sans,sans-serif;
  color: blue;
  max-width: 600px;
  margin: auto;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  height: 100%;
}
.fixed-table {
  position: fixed;
  right: 0;
  background-color: rgba(26,31,38,.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.flex-table {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.flex-table-top {
  justify-content: space-evenly;
}

.flex-table .number {
  padding: 2px;
  border: 1px solid gray;
  width: 13px;
  height: 13px;
  font-size: 11px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin-left: 2px;
}
.flex-table .numbers {
  padding: 2px;
  width: 15px;
  height: 15px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin-bottom: .75rem;
  text-align:center;
  margin-left: 2px;
  border-left: 1px dashed rgba(0, 0, 0, 0.2);
}
.input {
  height: 40px;
  padding: 0 24px;
  border: 0;
  background-color: #f6f9fb;
  cursor: pointer;
  border-radius: 12px;
}
</style>