<template>
  <div class="start" v-if="gameNumbers.length >= 10 && numbersAfterGame.length" :class="{ mark : timelineTops.includes(lastHit), green: isGameMarked }">
    <div>
      <h5>Planets tops:
        <span v-for="number in timelineTops" :class="{ mark: number === lastHit }" :style="{ color: getColor(number) }" style="margin-left: 1rem">
          {{ number }} <small>x{{ topHit }}</small>
        </span>
      </h5>
      <h5 class="numbers">Planets
        <span v-for="number in planets" :style="{ color: getColor(number) }">{{number}}</span>
      </h5>
    </div>
    <button @click="showNumbers = !showNumbers">Preview game</button>
    <button v-if="isGameMarked" @click="addGame">Unmark game</button>
    <button v-else @click="addGame">Mark game</button>
    <div v-if="showNumbers">
      <h5 class="numbers" v-if="numbersAfterGame.length !== numbers.length">Numbers for planets
        <span v-for="number in numbersAfterGame" :style="{ color: getColor(number) }">{{number}}</span>
      </h5>
      <h5 class="numbers" style="color:silver;font-size:12px;" v-else>Your next number will play with this...</h5>
      <div class="numbers">
        <span v-for="number in firstTenGameNumbers" :style="{ color: getColor(number) }">{{number}}</span>
      </div>
    </div>
    <div class="timelines" v-if = false>
      <span style="color: violet;">Top timeline:</span>
      <small style="color:silver;font-size:12px;">x</small><small style="color:cyan;font-size:12px;">1</small>
    </div>
  </div>
</template>

<script>
export default {
  name: "GameComponent",
  data() {
    return {
      showNumbers: false,
      timelineTops: [],
      topHit: -1,
    }
  },
  props: {
    gameIndex: {
      type: Number
    }
  },
  watch: {
    planets (a) {
      if (a.length < 9) return;
      // add planets
      this.$store.commit('planets', a)
      // return empty
      this.topHit = -1
      // planets
      let planetsTops = []
      // new tops
      for (let i=0; i <= this.gameIndex; i++)
        planetsTops.push(...this.allPlanetsTops[i])
      // create timeline tops
      let highest_key_names = []
      let possibleTopHit = -1
      // find max value
      for (let i=0; i < 37; i++) {
        possibleTopHit = planetsTops.filter(x => x === i).length
        if (possibleTopHit >= this.topHit) {
          // clear old top
          if (this.topHit !== possibleTopHit)
            highest_key_names = []
          // set record
          highest_key_names.push(i)
          this.topHit = possibleTopHit
        }
      }
      // set tops
      if (highest_key_names.length !== 0) {
        this.timelineTops = highest_key_names
        // clone current list
        let clonedList = this.$store.state.list
        // add
        highest_key_names.map(number => clonedList[number] += this.topHit)
        // set new list
        this.$store.commit('list', clonedList)
      }
      // clear
      planetsTops = []
    }
  },
  computed: {
    isGameMarked () {
      return this.$store.state.marked.includes(this.gameIndex)
    },
    lastHit () {
      return this.$store.state.last
    },
    numbers () {
      return this.$store.state.numbers
    },
    allPlanetsTops () {
      const clone = [...this.$store.state.planets]
      return clone.reverse()
    },
    numbersAfterGame() {
        const clone = [...this.numbers]
        return clone.slice(-this.gameIndex)
    },
    gameNumbers () {
      const clone = [...this.numbers]
      const numbers =  clone.reverse().slice(this.gameIndex)
      return numbers.reverse()
    },
    gameNumbersReversed () {
      const clone = [...this.gameNumbers]
      return clone.reverse()
    },
    firstTenGameNumbers () {
      return this.gameNumbersReversed.slice(0, 10)
    },
    planets () {
      let list = []
      this.firstTenGameNumbers.forEach((number, key) => {
        if (key < 1) return
        const receivedNumbers = this.firstTenGameNumbers.slice(0, key + 1)
        const totalSum = receivedNumbers.reduce(function (accumVariable, curValue) {
          return accumVariable + curValue
        }, 0);
        list.push(this.until(totalSum))
      })
      return list
    }
  },
  methods: {
    addGame () {
      this.$store.commit('mark', this.gameIndex)
    }
  }
}
</script>

<style scoped>
.mark {
  border: 1px solid red;
}
.green {
  background: rgba(25, 150, 0, 0.2);
}
h5, h4 {
  margin: 0.35rem 0;
  padding: 0;
}
button {
  background: rgba(25, 0, 0, 0.4);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.3rem .75rem;
  color: darkslategrey;
}
.start {
  padding: .35rem 1rem;
  display: block;
  margin-bottom: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}
.numbers {
  display: flex; flex-wrap: wrap;
}
.numbers span {
  padding: 2px;
  border: 1px solid gray;
  width: 13px;
  height: 13px;
  font-size: 11px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin-left: 2px;
}
</style>